.video__item {
  width: 400px;
}

.video_item_info {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.video_item_avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.video_item_preview {
  width: 100%;
  border-radius: 5px;
}

.video_item_preview_video {
  width: 100%;
  border-radius: 5px;
}

.video_item_title {
  font-size: 1rem;
  margin: 6px 0;
}

.video_item_details {
  display: flex;
  gap: 4px;
  font-size: 1rem;
  margin-top: 4px;
}
