.full_video_page {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  overflow-x: hidden;
}

.full_video_left_part {
  width: 70%;
}

.full_video_title {
  margin: 10px 10px;
}

.full_video_short_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full_video_user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_login {
  font-size: 18px;
  font-weight: 600;
}

.user_sub_btn {
  border: 1px solid var(--color-border);
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px;
  height: 34px;
  margin-top: 4px;
  border-radius: 6px;
  color: var(--color);
  transition: all ease 0.3s;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(243, 18, 96, 1) 25%,
      rgba(0, 111, 238, 1) 75%
    );
    color: white;
    border: 1px solid transparent;
  }
}

.user_sub_btn[data-theme="light"],
.full_video_btn[data-theme="light"] {
  --color-border: black;
  --color: black;
}

.user_sub_btn[data-theme="dark"],
.full_video_btn[data-theme="dark"] {
  --color-border: white;
  --color: white;
}

.full_video_btns {
  display: flex;
  gap: 10px;
}

.full_video_btn {
  border: 1px solid var(--color-border);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 4px;
  height: 34px;
  transition: all ease 0.2s;
  color: var(--color);

  &:hover {
    background-color: #4f4f4f;
    color: var(--color);
  }
}

.full_video_more_info[data-theme="light"] {
  --bg-color: #cfcfcf;
  --color: black;
}

.full_video_more_info[data-theme="dark"] {
  --bg-color: #2c2c2c;
  --color: white;
}

.full_video_more_info {
  background-color: var(--bg-color);
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 4px;
}

.full_video_views_date {
  display: flex;
  gap: 10px;
}

.full_video_full_date {
  display: flex;
  gap: 4px;
}

.full_video_views,
.full_video_date {
  font-weight: 600;
}

.full_video_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 12px;
}

.tag {
  background-color: #6f6f6f;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.full_video_desc {
  margin-top: 10px;
  font-size: 16px;
}

.full_video_comments {
  margin: 30px 0px;
}

.full_video_right_part {
  width: 100%;
}

.other_video_title {
  font-size: 18px;
}

.other_video_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
