.modalInner {
  padding: 20px;
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 12px;
}

.playlist_list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  max-height: 200px;
  overflow-y: auto;
}

.playlist_item {
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn_save {
  padding: 6px 12px;
  border: none;
  border: 1px solid white;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
