.header,
.search__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin-top: 10px;
}

.search__block {
  gap: 4px;
}

.search__input {
  width: 500px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 12px;
  font-size: 14px;
  outline: none;
  background-color: var(--bg-input);
  color: var(--text-color);
}

.search__input:focus {
  border: 2px solid rgb(0, 0, 139);
}

.search__input[data-theme="dark"] {
  --bg-input: rgb(29, 29, 29);
  --text-color: white;
}

.search__btn {
  width: 34px;
  height: 34px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: all ease 0.3s;
  color: var(--color);
}

.search__btn:hover {
  background-color: rgba(63, 94, 251, 1);
  color: white;
  border: 1px solid rgba(63, 94, 251, 1);
}

.create__btn {
  position: absolute;
  right: 25px;
  width: 114px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: all ease 0.3s;
}

.create__btn:hover {
  background: linear-gradient(
    90deg,
    rgba(243, 18, 96, 1) 25%,
    rgba(0, 111, 238, 1) 75%
  );
  color: white;
  border: 1px solid transparent;
}

.create__btn[data-theme="dark"],
.search__btn[data-theme="dark"] {
  --border-color: white;
}

.create__btn[data-theme="light"],
.search__btn[data-theme="light"] {
  --border-color: black;
  --color: black;
}
